* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.musicaChoosed{
    width: 100vw;
}

.containerControl {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.musicContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #121212;
}

.cardMusic {
    display: flex;
    align-items: center;
    width: min-content;
    
    gap: 10px;
    padding: 7px;
    background-color: #212121;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
}

.cardMusic:hover {
    background-color: #1b1b1b;
}

.cardMusic:active {
    background-color: #131313;
}

/* .cardMusic:active{
    zoom: 500%;
} */

.imageMusic {
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}

@media(max-width:400px) {
    .musicaChoosed{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .musicaChoosedImage {
        width: 85vw;
        height: 85vw;
    }

    .musicContainer {
        padding: 20px;
    }

    .cardMusic{
        width: 100%;
        /* background-color: aqua; */
    }

    .musicaChoosed audio {
        width: 85vw;
        /* background-color: orange; */
    }
}

@media(min-width:401) {
    .musicaChoosed audio {
        width: auto;
        background-color: aqua;

    }
    .cardMusic{
        width: 400px;
    }
}

.ativo {
    border: 3px solid blue;
}

.musicaChoosed {
    display: flex;
    width: auto;
    gap: 10px;
    padding: 20px;
    background-color: #212121;

}

.musicaChoosedImage {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}